.animate {
    height: 5000px;
    animation: cellExpand 1s ease-out;
}

/* .cell {
    padding: 20px;
    height: 400px;
    background-color: red;
    transition: 1s ease-out;
    animation: cellExpand 1s;
} */

.GridContainer {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 94vh;


}



@keyframes cellExpand {
    from {height: 0px}
    to {height: 400px}
  }