/* .animate {
    height: 5000px;
    animation: cellExpand 1s ease-out;
} */

/* .cell {
    padding: 20px;
    height: 400px;
    background-color: red;
    transition: 1s ease-out;
    animation: cellExpand 1s;
} */

.GridContainer {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 90vh;
}

/* .Component-horizontalScrollContainer-12  */
[class^="Component-horizontalScrollContainer-"] {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

[class^="jss"] {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

/* .MuiTableRow-root {
    animation: cellExpand 1s;
} */

/* .MuiTableCell-root {
    animation: cellExpand 1s;

} */

@keyframes cellExpand {
    from {height: 25px}
    to {height: 100px}
  }