.chartContainer {
    /* background-color: gainsboro; */
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    /* overflow-y: auto; */
}