.cell {
    /* padding: 20px; */
    height: auto;
    display: flex;
    /* background-color: red; */
    /* transition: 1s ease-out; */
    /* animation: cellExpand 1s; */
}

.rowFields {
    width: 25%;
    /* background: cyan; */
    /* height: 100%; */
    display: flex;
    justify-content: flex-start;
    min-width: 250px;
    /* flex-wrap: wrap; */
}

.fieldArea {
    width: 100%;
    /* background: yellow; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* align-items: start; */
    padding: 10px;
}

.field {
    display: flex;
    padding: 5px;
    
    /* align-items: center; */
}
/* .rowFields > div {
    background: yellow;
    width: 50%;
    padding: 20px;
    
} */

.rowUsers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    /* height: 100%; */
    padding: 10px;
    min-width: 400px;

}


@keyframes cellExpand {
    from {height: 0px}
    to {height: 400px}
  }