.cell {
    padding: 20px;
    height: 200px;
    /* background-color: red; */
    transition: 1s ease-out;
    /* animation: cellExpand 1s; */
}



@keyframes cellExpand {
    from {height: 0px}
    to {height: 400px}
  }