.root {
    display: flex;
    align-items: center;
}
.wrapper{
    display: flex;
    align-items: center;
    position:relative;
   
    
}


.buttonProgress {
    color: green;
    position: absolute;
    top: 20%;
    left: 40%;
}

.fillingFieldsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-between;
    gap: 15px;
}

.dialogContentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.autocomplete{

}


