.root {
    display: flex;
    align-items: center;
}
.wrapper{
    display: flex;
    align-items: center;
    position:relative;
   
    
}


.buttonProgress {
    color: green;
    position: absolute;
    top: 20%;
    left: 40%;
}

.fillingFieldsContainer {
    display: inline-flex !important;
    
   
    flex-direction: row;
    flex-wrap:  wrap;
    justify-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.fillingFieldsContainer div{
    
    margin-top: auto; 
}
.dialogContentContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.regex{
    font-weight: bold;
    color: red;
}



