.root {
    display: flex;
    align-items: center;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position:relative;
   
    
}


.buttonProgress {
    
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;

}
.searchingContainer{
    display: flex;
    flex-direction: column;
}

.detailsContainer{
    display: inline-flex ;
    
   
    flex-direction: row;
    flex-wrap:  wrap;
    justify-items: center;
    justify-content: flex-start;
    
    gap: 30px;

}
div.react-datepicker-popper {
    z-index: 10003  !important;
  }
.react-datepicker-popper {
    z-index: 10003 !important;
    
}
.fillingFieldsContainer div{
    flex: 1 1 auto !important
}

#header { position: relative; z-index: 10003; }
.fillingFieldsContainer {
    display: inline-flex ;
    
   
    flex-direction: row;
    flex-wrap:  wrap;
    justify-items: center;
    justify-content: start;

    
}
.fillingFieldsContainer div{
    flex: 1 1 auto
}   



.dialogContentContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.regex{
    font-weight: bold;
    color: red;
}



