.unAuthorizedContent {
    width: 75%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.fkingMiddle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.unauthText {
    font-weight: bold;
    font-size: 3em;
    color: red;
}